@model Usuario;

<div style="background-color: #f5f5f5; margin-top: 5%">
    <div class="container" style="background-color: white;">
        <div class="card-block">
            @* O trecho abaixo está definido para chamar a action CadastraUsuario do Controller login para persistir*@
            <form asp-action="CadastraUsuario" asp-controller="Login" method="post">
                <div class="form-group">
                    <label class="control-label" for="Nome">Nome <h11>*</h11></label>
                    
                        @* asp-for referencia a propriedade da classe Usuario *@
                        <input asp-for="Nome" placeholder="" class="form-control input-md" required="" type="text">
                    
                </div>
                <div class="form-group">
                    <label class="control-label" for="Username"> Username <h11>*</h11></label>
                    
                        @* asp-for referencia a propriedade da classe Usuario *@
                        <input asp-for="Username" placeholder="" class="form-control input-md" required="" type="text">
                    
                </div>

                <div class="form-group">
                    <label class="control-label" @*asp-for="Email"*@>Email <h11>*</h11></label>
                    
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input asp-for="Email" class="form-control" placeholder="email@email.com"
                                   required type="text">
                    
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" @*asp-for="Senha"*@>Senha <h11>*</h11></label>
                    
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input asp-for="Senha" class="form-control" placeholder="*******" required type="password">
                    
                    </div>
                </div>
                <!-- #f5f5f5; -->
                <div class="form-group text-right">
                    <button id="Cancelar" name="Cancelar" class="btn btn-danger" type="Reset">Cancelar</button>
                    <button id="Cadastrar" name="Cadastrar" class="btn btn-success" type="Submit">Cadastrar</button>
                </div>
            </form>        
        </div>
    </div>
</div>