@model Usuario;

<div class="text-center">
    <form class="form-signin" asp-action="BuscaUsuario" asp-controller="Login" method="get">
        @*<img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/OLX-Logo.png" alt="" width="72" height="72">*@
        <h1 class="h3 mb-3 font-weight-normal">Efetuar Login</h1>
        <label for="inputEmail" class="sr-only">Usuário</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="Email" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Senha</label>
        <input asp-for="Senha" type="password" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Lembre-se de mim
            </label>
        </div>
        <button asp-controller="Login" asp-action="BuscaUsuario" id="Logar" class="btn btn-lg btn-primary btn-block" type="Submit">
            Entrar
        </button>
        <p asp-area="" asp-controller="Login" asp-action="CadastraUsuario" class="mt-5 mb-3 text-muted"><a> Cadastre-se </a></p>


    </form>
</div>